<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-6 text-dark p-5 ">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="p-text lora heading-text mt-3">Automate Career Progression</p>
                <p class="subheading-text">Give superpower to your frontline team members. Digitise career progressions,
                    track growth and increase effectiveness in your stores right now.
                </p>
                <button class="btn btn-secondary text-uppercase pl-4 pr-4 radius-shape blue-btn mt-5 mb-5">Schedule a
                    demo</button>
            </div>
        </div>
        <div class="col-6 ">

        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 ">

        </div>
        <div class="col-6 p-5">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="sf_Title-text lora">Customise Career Journey</p>
                <p class="sf_subTitle-text">Give the team members an opportunity to assess their career progress
                    instantly. Customise
                    their career journey on the go. Help them take control of their career path, assign the right tasks,
                    set up approval processes and manage them on one single platform. </p>
            </div>
        </div>
    </div>
    <div class="row bg-red ">
        <div class="col-3 bg-lightred">

        </div>
        <div class="col-9 p-5">
            <div class="text-white pt-5 pb-5">
                <p class="sf_Title-text lora">Save Cost</p>
                <p class="sf_subTitle-text">Mastering the skills of your product, process, and people are the most
                    crucial aspect. Track team members who require an intervention plan and implement it or make
                    strategic business decision, ultimately helping you save cost for the organization.
                </p>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 ">
            <div class="text-dark p-5">
                <p class="sf_Title-text lora">Manage Attrition</p>
                <p class="sf_subTitle-text">Track and identify key performers in your store with just a few clicks.
                    Create a clear career path and align their goals with the business needs to increase retention of
                    your best performers. </p>
            </div>
        </div>
        <div class="col-6 p-5">

        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 ">

        </div>
        <div class="col-6 p-5">
            <div class="text-dark ">
                <p class="sf_Title-text lora">Trust on Data</p>
                <p class="sf_subTitle-text">With data now being digital and performance management being the team
                    member’s responsibility, the data comes with ZERO bias. Analyse the data and make informed decisions
                    when promoting key performers, also create and assign action plans to focus on the areas of
                    development for the other team members.
                </p>
            </div>
        </div>
    </div>
    <div class="row bg-brown ">
        <div class="col-3 bg-lightbrown">

        </div>
        <div class="col-9 p-5">
            <div class="text-white p-5">
                <p class="sf_Title-text lora">Go Digital</p>
                <p class="sf_subTitle-text">Store and manage all your data in a single digital platform. With Frontlyne,
                    you can go digital within a few weeks. No more paper-pencil, excel sheets, multiple applications.
                    Just the one solution you and your frontline teams would need.
                </p>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="sf_Title-text lora text-dark pt-5 pb-4">Read articles related to this Feature</div>
        <div class="col-4">
            <div class="titleimg  position-relative">
               <!-- <img src="../assets/images/Features/artical_title.png" class="img-fluid shadow custom_border-radius" alt="image">-->
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span class="forword-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="col-4">
           <div class="titleimg  position-relative">
               <!-- <img src="../assets/images/Features/artical_title.png" class="img-fluid shadow custom_border-radius" alt="image">-->
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span class="forword-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <img src="../assets/images/Features/artical_title.png" class="  " alt="image">
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span class="forword-icon"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="border-middle pl-5 pr-5 mb-3 mt-3"></div>

    <div class="row p-5">
        <div class="col-7 text-right">
            <p class="font-blue text-uppercase sf_subTitle-text">Automate Career Progression </p>
        </div>
        <div class="col-1 text-center">
            <div class="blue_arrow"></div>
        </div>
        <div class="col-4 text-left">
            <p class="uppercase sf_subTitle-text">Learning Management System</p>
        </div>
    </div>

    <div class="row bg-blue p-5 mt-3">
        <div class="col-6 d-flex align-content-between  flex-wrap">
            <div class="custombg-color text-white pt-5 pb-5">
                <p class="l-text4 pt-3 pb-3">We would love to help you Digitise Performance Management of your Frontline Teams</p>
                <button class="btn btn-light border text-uppercase  pl-4 pr-4 radius-shape mt-3 mb-3">TRY A
                    DEMO</button>
            </div>
        </div>
        <div class="col-6 text-center">
            <img src="../assets/images/Features/featureCharacter.png" class="img-fluid" alt="image">
        </div>
    </div>


</div>