<div class="container-fluid  pt-5">
    <div class="row pt-5">
        <div class="col-6 text-dark p-5 position-relative">
            <img src="../assets/images/WhyFrontlyne/Star.png" class="img-fluid position-absolute starimg" alt="image">

            <p class="heading-text lora pt-5">Features - The <span class="font-blue">Ultimate
                    Performance Management</span> for Retail Frontline Teams </p>
            <button class="btn btn-secondary text-uppercase pl-4 pr-4 radius-shape blue-btn mt-5 mb-5">Schedule a
                demo</button>
            <button class="btn btn-light border text-uppercase ml-3  pl-4 pr-4 radius-shape mt-5 mb-5">TALK TO
                US</button>
        </div>
        <div class="col-6 position-relative ">
            <img src="../assets/images/WhyFrontlyne/Bg_yellowpatch.png" class="img-fluid position-absolute yellowpatch1"
                alt="image">
            <img src="../assets/images/Features/upm.png" class="img-fluid position-absolute top-img " alt="image">
        </div>

    </div>

    <div class="row bg-red p-5 z-index">
        <div class="col-6 d-flex align-content-between  flex-wrap">
            <img src="../assets/images/Features/acp.png" class="img-fluid" alt="image">
        </div>

        <div class="col-6 p-5">
            <div class="custombg-color text-white pt-5 pb-5">
                <p class="p-text lora heading-text mt-3">Automate Career Progression </p>
                <p class="subheading-text">of your frontline team members literally in a few hours and go digital. Say
                    no to the use of
                    paper and excel sheets.
                </p>
                <a href="#" class="text-white forword-icon">Explore more<span class="fIcon"></span></a>
                <button class="btn btn-light border text-uppercase ml-5  pl-4 pr-4 radius-shape mt-5 mb-5">TRY A
                    DEMO</button>
            </div>

        </div>
    </div>

    <div class="row p-5 position-relative">
        <div class="col-6 p-5 pt-3 pb-3">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="p-text lora heading-text mt-3">Digitise Learning and Training</p>
                <p class="subheading-text">of your frontline team members with a click using a single platform. A
                    one-stop solution for all your learning requirements. </p>
                <a href="#" class="font-blue forword-icon ">Explore more -></a>
                <button class="btn btn-secondary text-uppercase pl-4 pr-4 radius-shape blue-btn ml-3 mt-5 mb-5">TRY A
                    DEMO</button>
            </div>
        </div>

        <div class="col-6 ">
            <img src="../assets/images/Features/dlt.png" class="img-fluid " alt="image">
        </div>
    </div>


    <div class="row bg-brown p-5">
        <div class="col-6 d-flex align-content-between  flex-wrap">
            <img src="../assets/images/Features/dsp.png" class="img-fluid" alt="image">
        </div>

        <div class="col-6 p-5">
            <div class="custombg-color text-white pt-5 pb-5">
                <p class="p-text lora heading-text mt-3">Digitise Sales Performance</p>
                <p class="subheading-text">across your stores, assign targets and incentives, manage all your sales data
                    in a single place with just a few clicks.</p>
                <a href="#" class="text-white forword-icon">Explore more -></a>
                <button class="btn btn-light border text-uppercase ml-5  pl-4 pr-4 radius-shape mt-5 mb-5">TRY A
                    DEMO</button>
            </div>

        </div>

    </div>


    <div class="row p-5 position-relative">
        <div class="col-6 p-5 pt-3 pb-3">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="p-text lora heading-text mt-3">Automate Standard Operating Processes</p>
                <p class="subheading-text">of your stores. Follow simple steps to set up your process and within minutes
                    all your stores will be adhering to the process they need to.
                </p>
                <a href="#" class="font-blue forword-icon ">Explore more -></a>
                <button class="btn btn-secondary text-uppercase pl-4 pr-4 radius-shape blue-btn ml-3 mt-5 mb-5">TRY A
                    DEMO</button>
            </div>
        </div>

        <div class="col-6 ">
            <img src="../assets/images/Features/asop.png" class="img-fluid " alt="image">
        </div>
    </div>

    <div class="row bg-red p-5">
        <div class="col-6 d-flex align-content-between  flex-wrap">
            <img src="../assets/images/Features/drr.png" class="img-fluid" alt="image">
        </div>

        <div class="col-6 p-5">
            <div class="custombg-color text-white pt-5 pb-5">
                <p class="p-text lora heading-text mt-3">Digitise Rewards and Recognition</p>
                <p class="subheading-text">on the go for all your team members. Customize your rewards and assign them
                    to the team members. Recognize efforts and achievements immediately and create an engaging work
                    culture.</p>
                <a href="#" class="text-white forword-icon">Explore more -></a>
                <button class="btn btn-light border text-uppercase ml-5  pl-4 pr-4 radius-shape mt-5 mb-5">TRY A
                    DEMO</button>
            </div>

        </div>

    </div>

    <div class="row position-relative">
        <div class="col-6  pt-5 pb-3 pl-5 pr-5">
            <div class="custombg-color text-dark pt-5 pb-5 pl-5 pr-5">
                <p class="p-text lora heading-text mt-3 pt-5">Robust Visual Reporting</p>
                <p class="subheading-text">functionality allows you to make strategic decisions based on data. Generate
                    custom reports to make quick comparisons and evaluate the data to drive a smart business decision.
                </p>
                <a href="#" class="font-blue forword-icon ">Explore more -></a>
                <button class="btn btn-secondary text-uppercase pl-4 pr-4 radius-shape blue-btn ml-3 mt-5 mb-5">TRY A
                    DEMO</button>
            </div>
        </div>

        <div class="col-6 bg-lightpurple p-5 text-center">
            <img src="../assets/images/Features/rvr.png" class="img-fluid " alt="image">
        </div>
    </div>

    <div class="row bg-blue p-5">
        <div class="col-6 d-flex align-content-between  flex-wrap">
            <div class="custombg-color text-white pt-5 pb-5">
                <p class="l-text4 pt-3 pb-3">We would love to help you Digitise Performance Management of your Frontline Teams</p>
                <button class="btn btn-light border text-uppercase  pl-4 pr-4 radius-shape mt-3 mb-3">TRY A
                    DEMO</button>
            </div>
        </div>

        <div class="col-6 text-center">
            <img src="../assets/images/Features/featureCharacter.png" class="img-fluid" alt="image">
        </div>

    </div>

</div>