<div class="container-fluid p-5">
  <div class="row pt-5">
    <div class="col-6">
        <h2>LOGO</h2>
        <P>copyright</P>
    </div>

    <div class="col-2">
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>

    <div class="col-2">
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>

    <div class="col-2">
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>
    
    <div class="pr-5">
      <app-socialmediaicons></app-socialmediaicons>
    </div>
    
  </div>
</div>