
<div class="container-fluid" style="height: 30px; text-align: right; position: fixed; top: 0px; background-color: #f8f9fa !important; padding: 0px 40px;">
    <a class="topnav" routerLink="#">About us</a>
    <a class="topnav" routerLink="#">Contact us</a>
</div>

<nav class="navbar navbar-inverse navbar-expand-md navbar-light fixed-top bg-light container-fluid" data-spy="affix" data-offset-top="197">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/whyfrontlyne">Why Frontlyne?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/wesupport">We Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/knowledge">Knowledge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pricing">Pricing</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-success" type="submit">Talk to us</button>
                <button class="btn btn-outline-success trybtn" type="submit">TRY FOR FREE</button>
            </form>
        </div>
    </div>
</nav>