
<div class="container-fluid fixed-top bg-light pt-1">
    <a class="topnav text-dark no-underline mr-3" routerLink="#">About us</a>
    <a class="topnav text-dark no-underline" routerLink="#">Contact us</a>
</div>

<nav class="navbar navbar-inverse navbar-expand-md navbar-light fixed-top bg-light container-fluid " data-spy="affix" data-offset-top="197">
    <div class="container-fluid">
        <a class="navbar-brand logoicon" href="#"></a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/whyfrontlyne">Why Frontlyne?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/wesupport">We Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/knowledge">Knowledge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pricing">Pricing</a>
                </li>
            </ul>
            <form class="d-flex pr-3">
                <button class="btn btn-light btn-border font-black small-size radius-shape mr-3" type="submit">TALK TO US</button>
                <button class="btn text-white blue-btn small-size trybtn radius-shape" type="submit">TRY A DEMO</button>
            </form>
        </div>
    </div>
</nav>