<div class="container-fluid">
    <div class="row">
        <div class="col-7 text-dark text-center p-5">
            <h4 class="heading-size lora">Digitizing your business? You've come to the right place</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  </p>
            <button class="btn btn-secondary text-uppercase pl-4 pr-4 radius-shape mt-4 mb-5 blue-btn">Schedule a demo</button>
        </div>
        <div class="col-5 text-center">
            <img src="../assets/images/WhyFrontlyne/Illus.png" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="row bg-red text-white">
        <div class="col-7 text-center text-dark p-5">
            <img src="../assets/images/WhyFrontlyne/Illus.png" class="img-fluid" alt="image">
        </div>
        <div class="col-5 align-self-center">
            <h4 class="heading-size lora">Digitizing your business? You've come to the right place</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  </p>
            <button class="btn btn-light bg-white radius-shape blue-btn">TALK TO US</button>
        </div>
    </div>

    


</div> <!-- container fluid class end here-->