
.left-radius{border-radius: 0px 5px 0px 0px;}
.accordion-button{color: #323338;}
.accordion-button:not(.collapsed){background-color: transparent; color: #000000;}

.customshadow{box-shadow: 5px 5px 0 0 #851c39;}

/*.quotes-img::before{content: ''; background-image: url("../images/Landing-page/quote-1.png");  position: absolute;}*/

.forword-icon{text-decoration: none; }

.points-1{margin-right: 80px;}

.points-2{margin-right: 60px;}

.points-3{margin-right: 40px;}

.points-4{margin-right: 20px;}

.points-5{margin-right: 10px;}

.custom-block{width: 846px; margin: 130px auto; }