<div class="container-fluid">
    <div class="row p-5">
        <div class="col-8 text-dark">
            <p class="font-weight-bold  mb-0 lora heading-text">One Stop Integrated And Configurable Solution </p>
            <p class="font-weight-bold  mb-0 font-blue lora heading-text"><b>Performance Management</b> </p>
            <p class="font-weight-bold mb-0  lora heading-text">For Your Retail Teams </p>
            <p class="font-black subheading-text">Go paperless and say hello to the new world of digital transformation.</p>

            <button class="btn btn-secondary text-uppercase pl-4 pr-4 blue-btn small-size">Schedule a demo</button>
            <button class="btn btn-light border text-uppercase ml-3  pl-4 pr-4 font-black small-size">TALK TO US</button>
        </div>

        <div class="col-4">
            <img src="../assets/images/Landing-page/img-1.png" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="row bg-red text-white p-5">
        <div class="col-8 d-flex align-content-between  flex-wrap">
            <p class="heading-text border-bottom pb-3 quotes-img">Performance cannot be gauged by one element, But a combination of multiple elements is needed to gauge performance.</p>
            <a href="#" class="text-white forword-icon"> know more </a>
        </div>

        <div class="col-4 shadow">
            <div class="bg-lightorange text-dark pt-3 rounded">
                <div class="bg-white p-2 shadow-lg points-1 left-radius">
                    <p class="m-0 small-size">Career Progression</p>
                </div>

                <div class="bg-white p-2 shadow-lg points-2 left-radius">
                    <p class="m-0 small-size">Sales Achievement</p>
                </div>

                <div class="bg-white p-2 shadow-lg points-3 left-radius">
                    <p class="m-0 small-size">Learning Achievement</p>
                </div>

                <div class="bg-white p-2 shadow-lg points-4 left-radius">
                    <p class="m-0 small-size">Training Achievement</p>
                </div>

                <div class="bg-white p-2 shadow-lg points-5 left-radius">
                    <p class="m-0 small-size">Standard Operating Processes</p>
                </div>

                <div class="d-flex align-items-center pt-5 pb-5 pr-2 pl-2">
                    <div class="pl-3 pr-3">
                        <img src="../assets/images/Landing-page/star_desktop.png" class="img-fluid" alt="image">
                    </div>
                    <div class="subheading-text font-blue font-weight-bold">
                        <p class="mb-0">The Ultimate </p>
                        <p class="mb-0">Performance Management</p>
                        <p class="mb-0">for Retail Frontline Teams </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row p-5">
        <div class="col-6">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Accordion Item #1
                        </button>
                    </h2>
        
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
        
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion Item #2
                        </button>
                    </h2>
        
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
        
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
        
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            
        </div>
    </div> 
    
    

    <div class="row bg-brown text-white p-5">
        <div class="col-8 d-flex align-content-between  flex-wrap">
            <p>Performance cannot be gauged by one element, But a combination of multiple elements is needed to gauge performance.</p>
            
            <div class="col-11 border border-0 border-top border-secondary p-0 pt-2"> 
                <a href="#" class="text-white forword-icon">Read</a>
            </div>
        </div>

        <div class="col-4">
            <img src="../assets/images/Landing-page/img-1.png" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="row bg-white p-5 shadow-lg rounded">
        <div class="col-8">
            <div class="star-img">
                <img src="../assets/images/Landing-page/star_desktop.png" class="img-fluid" alt="image">
                <img src="../assets/images/Landing-page/star_desktop.png" class="img-fluid" alt="image">
                <img src="../assets/images/Landing-page/star_desktop.png" class="img-fluid" alt="image">
                <img src="../assets/images/Landing-page/star_desktop.png" class="img-fluid" alt="image">
                <img src="../assets/images/Landing-page/star_desktop.png" class="img-fluid" alt="image">
            </div>
            <div class="text-container pt-3">
                <h4>G2 Crowd -</h4>
                <p>Frontline is very flexible Performance management tool that can be deployed for the front end staff across any industry. It can map the career Progression and learning journey of the employees in a very simple manner. It is extremely user friendly too.</p>
            </div>
        </div>

        <div class="col-4">
            <img src="../assets/images/Landing-page/img-1.png" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="d-table  p-5 blue-btn">
        <div class="d-table-cell text-white align-middle">
            <p>We would love to help you Digitise Performance Management of your frontline Teams</p>
            <button class="btn btn-light pl-4 pr-4 radius-shape"> Talk to us </button>
        </div>

        <div class="d-table-cell">
            <img src="../assets/images/Landing-page/img-1.png" class="img-fluid" alt="image">
        </div>
    </div>

</div>