.heading-size{
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 61px;
    color: #000000;
   }
   .font_color{
       color: #595ad4;
   }
   .subheading-size{
       font-style: normal;
       font-weight: 500;
       font-size: 24px;
       line-height: 36px;
       padding: 20px 200px;
   }
   .starimg{
       left: 0;
       top: -10px;
   }
   .yellowpatch1{
       right: 80px;
   }
   .circleimg{
       right: 0;
       top: -20px;
   }
   .yellowpatch2{
       bottom: 0px;
       left: 130px;
   }
   .triangleimg{
       bottom: 25px;
       right: 335px;
   }
   .p-text{
       font-style: normal;
       font-weight: 500;
       font-size: 2rem;
       line-height: 41px;
       color: #1E1E1E;
   }
   .bg-secondary{
       background-color: #FFD166 !important;
       border-radius: 0px 16px 16px 0px;
   }
   .l-text{
       font-style: normal;
       font-weight: bold;
       font-size: 48px;
       line-height: 61px;
       color: #595AD4;
   }
   .r-text{
       color: #1E1E1E !important;
       font-style: normal;
       font-weight: 500;
       font-size: 0.87rem;
       line-height: 21px;
   }
   .l-text2{
       font-style: normal;
       font-weight: bold;
       font-size: 2.5rem;
       line-height: 51px;
   }
   .bt-text{
       font-style: normal;
       font-weight: 500;
       font-size: 1.25rem;
       line-height: 30px;
   }
   .char_img{
       bottom: -50px;
   }
   .top-circle{
       top: -48px;
       left: -100px;
   }
   .l_headingText{
       font-style: normal;
       font-weight: bold;
       font-size: 2.5rem;
       line-height: 51px;
   }
   .l-text3{
       font-style: normal;
       font-weight: 500;
       font-size: 1.5rem;
       line-height: 36px;
   }
   .sidepadding{
       padding: 15px 260px 15px 0px;
   }
   .box-padding{
       padding: 80px 110px 80px 190px;
   }
   .l-text4{
       font-style: normal;
       font-weight: bold;
       font-size: 32px;
       line-height: 41px;
   }
   .tab-title{
       font-style: normal;
       font-weight: 600;
       font-size: 20px;
       line-height: 30px;
       color: #333333;
   }
   .subtitle{
       font-style: normal;
       font-weight: bold;
       font-size: 15px;
       line-height: 22px;
       color: #BDBDBD;
   }
   .tab-text{
       font-style: normal;
       font-weight: 300;
       font-size: 15px;
       line-height: 22px;
       color: #4F4F4F;
   }
   .toptext{
       font-style: normal;
       font-weight: 500;
       font-size: 40px;
       line-height: 51px;
       color: #000000;
   }
   .r-text1{
       font-style: normal;
       font-weight: 500;
       font-size: 35px;
       line-height: 45px;
       color: #333333;
   }
   .yelloComma{
       font-style: normal;
       font-weight: normal;
       font-size: 35px;
       line-height: 45px;
       color: #F2994A;
   }

   .box-height{
       height:360px;
   }