<div class="container-fluid">
    <div class="row position-relative">
        <div class="col-12 text-dark text-center p-5">
            <img src="../assets/images/WhyFrontlyne/Star.png" class="img-fluid position-absolute starimg" alt="image">
            <img src="../assets/images/WhyFrontlyne/Bg_yellowpatch.png" class="img-fluid position-absolute yellowpatch1"
                alt="image">
            <img src="../assets/images/WhyFrontlyne/blue_circle.png" class="img-fluid position-absolute circleimg"
                alt="image">
            <img src="../assets/images/WhyFrontlyne/Bg-yellowpatch2.png"
                class="img-fluid position-absolute yellowpatch2" alt="image">
            <img src="../assets/images/WhyFrontlyne/blue_triangle.png" class="img-fluid position-absolute triangleimg"
                alt="image">
            <p class="heading-size lora">Why Choose <span class="font_color">Frontlyne</span>?</p>
            <p class="subheading-size ">Because Frontlyne was born out of a need in the retail industry and it solves
                your most critical issue with performance management of the frontline teams.</p>
            <button class="btn btn-secondary text-uppercase pl-4 pr-4 radius-shape mt-4 mb-5 blue-btn">Schedule a
                demo</button>
        </div>
    </div>
    <div class="row bg-light pl-2 pr-2 pt-5 pb-5">
        <div class="col-5 d-flex align-content-between  flex-wrap pb-5">
            <img src="../assets/images/WhyFrontlyne/pmp.png" class="img-fluid" alt="image">
        </div>
        <div class="col-7">
            <div class="custombg-color text-dark pt-3 pb-3 pr-4 pl-4">
                <p class="p-text lora">Performance Management plans are successful when data from learning, career
                    progression, sales, rewards and recognition, and SOPs are triangulated together.
                </p>
            </div>
            <div class="row bg-secondary p-3  mt-3 text-white">
                <div class="col-2 l-text lora text-center"> 43% </div>
                <div class="col-10 r-text"> of employees would leave jobs because of
                    no or extremely low visibility of the career enhancement No one technology product suits all. Hence,
                    we have built Frontlyne to be highly configurable to the needs of your business. </div>
            </div>
        </div>
    </div>
    <div class="row p-5 bg-red position-relative">
        <div class="col-7 p-5 pt-3 pb-3">
            <div class="text-white l-text2 lora">Talk to our Team</div>
            <button class="btn bg-light text-uppercase pt-2 pb-2 pl-5 pr-5 radius-shape mt-4 mb-3 bt-text">Connect with
                us</button>
        </div>
        <div class="col-5 ">
            <img src="../assets/images/WhyFrontlyne/circle2.png" class="img-fluid position-absolute top-circle" alt="image">
            <img src="../assets/images/WhyFrontlyne/character1.png" class="img-fluid position-absolute char_img " alt="image">
        </div>
    </div>
    <div class="row ">
        <div class="toptext lora pt-5  pl-5 pr-5">No matter what your role is, we got you covered!</div>
        <div class="row bg-light pt-4 pb-5 pr-5 pl-5 justify-content-between">
            <div class="col-4">
                <div class="shadow pr-4 pl-4 pb-4 pt-3">
                    <img src="../assets/images/WhyFrontlyne/Hr.png" class="img-fluid " alt="image">
                    <h3 class="tab-title pt-3">Human Resources Team</h3>
                    <p class="subtitle">(Training, L&D and HR)</p>
                    <p class="tab-text">We help you with a one stop solution. No more hassle</p>
                </div>
            </div>
            <div class="col-4 ">
                <div class="shadow p-4">
                    <img src="../assets/images/WhyFrontlyne/operationsTeam.png" class="img-fluid  " alt="image">
                    <h3 class="tab-title pt-3 pb-2">Operations Team</h3>
                    <p class="tab-text pb-4">We help you with a solution to track your operation compliances in the store.</p>
                </div>
            </div>
            <div class="col-4 ">
                <div class="shadow p-4">
                    <img src="../assets/images/WhyFrontlyne/salesTeams.png" class="img-fluid " alt="image">
                    <h3 class="tab-title pt-3 pb-2">Sales Team</h3>
                    <p class="tab-text pb-4">We help you boost your sales numbers by making it super easy to access and track</p>
                </div>
            </div>
        </div>
        <div class="row bg-light pt-0 pb-5 pr-5 pl-5 justify-content-between">
            <div class="col-4">
                <div class="shadow p-4">
                    <img src="../assets/images/WhyFrontlyne/trainingTeams.png" class="img-fluid " alt="image">
                    <h3 class="tab-title pt-3 pb-2">Training Teams</h3>
                    <p class="tab-text pb-4">We help you create digitise training events and manage it on your finger tips</p>
                </div>
            </div>
            <div class="col-4 ">
                <div class="shadow pt-3 pb-4 pr-4 pl-4">
                    <img src="../assets/images/WhyFrontlyne/virtualMerchandiseTeams.png" class="img-fluid  " alt="image">
                    <h3 class="tab-title pt-3 pb-2">Virtual Merchandise Teams</h3>
                    <p class="tab-text pb-4">We help you to manage all the visual related tasks in store</p>
                </div>
            </div>
            <div class="col-4 ">
                <div class="shadow p-4">
                    <img src="../assets/images/WhyFrontlyne/buisnessTeams.png" class="img-fluid " alt="image">
                    <h3 class="tab-title pt-3 pb-2">Buisness Teams</h3>
                    <p class="tab-text pb-4">We help you to look at the bigger picture and plan your buisness better</p>
                </div>
            </div>
        </div>
        <div class="row bg-light p-4">
            <div class="col-12">
                <p class="lora r-text1 "><span class="yelloComma lora">"</span>Frontlyne team is not built by just technology experts. Frontlyne team has an interesting mix of
                    learning technology experts, trainers and industry experts with experience working with frontline
                    teams. We are different in good ways.<span class="yelloComma lora">"</span></p>
            </div>
        </div>
    </div>
    <div class="row bg-brown p-5">
        <div class="col-8 text-white pt-5 pb-5">
            <h3 class="lora l_headingText">Data Privacy!</h3>
            <p class="l-text3 sidepadding">From day 1, we have built Frontlyne with a strong focus on data security and
                we use the
                best cloud service out there to secure your data. With multiple testing tools, Frontlyne can be your #1
                trusted
                solution. </p>
        </div>
        <div class="col-4  ">
            <img src="../assets/images/WhyFrontlyne/dataP.png" class="img-fluid" alt="image">
        </div>
    </div>
    <div class="row bg-light p-5">
        <div class="col-4 p-5">
            <img src="../assets/images/WhyFrontlyne/TrainingS.png" class="img-fluid" alt="image">
        </div>
        <div class="col-8 box-padding ">
            <h3 class="lora l_headingText">Training. Support. Hand-holding.</h3>
            <p class="l-text3 ">We believe in co-working with you to be successful in your role. We are just
                an email or a phone call away to help you resolve any issue you may have. We believe the success of
                Frontlyne
                depends on the best usage of its capability, hence we have a selfish motive to do this better.</p>
        </div>
    </div>
    <div class="row bg-yellow p-5 ">
        <div class="col-5 text-right">
            <img src="../assets/images/WhyFrontlyne/Illus.png" class="img-fluid" alt="image">
        </div>
        <div class="col-7  p-5">
            <div class="l-text4 lora pt-4">Ready to Digitize ?</div>
            <button class="btn btn-secondary  pl-5 pr-5 radius-shape mt-4 blue-btn">TALK TO AN EXPERT</button>
        </div>
    </div>
</div>